<div ng-controller="AllCardsController">
    <div class="content">
        <div class="title">{{ title }}</div>
        <ul class="all_cards">
            <li class="class_heroes" ng-repeat="(key,class) in cards">
                <h3 class="title_group">{{ key }}</h3>
                <ul>
                    <li class="card" ng-repeat="card in class">
                        <div ng-if="'Minion' === card.type || 'Spell' === card.type">
                            <a ui-sref="app.card({idCard: card.cardId })">
                                <div class="imgCard">
                                    <img ng-src="{{ card.img }}">
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</div>